<div class="ui four column centered grid">
    <div class="ui huge input">
      {{input id='createImage' value=newImage placeholder="Image url"}}
    </div>

    <div class="ui huge input">
      {{input id='createName' value=newName placeholder="Name"}}
    </div>

    <div class="ui huge input">
      {{input id='createDescription' value=newDescription placeholder="Description"}}
    </div>
    <div class="ui huge primary button" {{action 'createPhoto'}}>Save Photo</div>
</div>
