  <div class="ui centered grid">
    {{outlet}}
  </div>

  <div class="ui page grid">
    {{#each photo in model}}
    <div class = "four wide column">
      {{#link-to "photos.show" photo}}
      <img class="ui medium circular image" {{bind-attr src=photo.image}} alt="" width=200 />

      {{/link-to}}

    </div>
    {{/each}}
  </div>
